<div class="row">
  <div class="large-12 colums">
    <p id="notice"><%= notice %></p>

    <h1>
      <%= @listing.name %>
    </h1>
    
  </div>
</div>


<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @listing.goal %>
</p>

<p>
  <strong>End date:</strong>
  <%= @listing.end_date %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
